<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.catchi_nichi">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" /><!--카메라 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--파일 읽기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--파일 쓰기 권한-->
    <uses-feature android:name="android.hardware.camera" android:required="true"/><!--카메라 기능 사용-->



    <application

        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Catchi_Nichi"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="4105dbb452500045286d3cf76689f275" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".JoinActivity"></activity>
        <activity android:name=".NicknameActivity"></activity>
        <activity android:name=".mainSearchActivity" android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".searchResultActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".CameraSearchActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".SmellNoteMainActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendMainActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".SmellNoteRegisterActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".CameraResultActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".SmellNoteChooseActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".UsedPerfumeActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendSimilarActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendTodayActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendSimilarResultActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".SmellNoteConfineActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".SmellNoteModifyActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".PerfumeDataActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".AddReviewActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".ConfirmReviewActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".ModifyReviewActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendCityActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendCity2Activity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendFloralActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendFloral2Activity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendFreshActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendFresh2Activity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendOrientalActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendOriental2Activity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendTodayResultActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendTodaySecondActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendTodayStartActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendWoodyActivity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".RecommendWoody2Activity" android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".MyPageActivity" android:windowSoftInputMode="adjustPan" ></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.catchi_nichi"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>